<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/footer.css">
    <title>底部</title>
</head>
<body>
<div class="footer">
    <div class="footer_hezuo">
        <div class="wfooter_common">
            <div class="footer_yqlj">
                <ul>
                    <li class="footer_nav">友情链接</li>
                    <li class="footer_nav">友情链接</li>
                    <li class="footer_nav">友情链接</li>
                    <li class="footer_nav">友情链接</li>
                </ul>
            </div>
        </div>
        <div class="wfooter_common">
            <div class="footer_qhlj">
                <dl>
                    <a href="http://www.mplife.com/" target="_blank">名品导购网</a>
                    <a href="http://www.herschina.com/" target="_blank">HERS女性门户</a>
                    <a href="http://www.autohome.com.cn/" target="_blank">汽车之家</a>
                    <a href="http://www.99166.com/" target="_blank">非常运势算命网</a>
                    <a href="http://www.i-modec.com/" target="_blank">摩登客</a>
                    <a href="http://www.v1.cn/" target="_blank">第一视频</a>
                    <a href="http://www.cnga.org.cn/" target="_blank">中国服装协会</a>
                    <a href="http://bbs.55bbs.com/" target="_blank">55BBS购物论坛</a>
                    <a href="http://www.luxtarget.com/" target="_blank">TARGET致品网</a>
                    <a href="http://www.uncars.com/" target="_blank">卓众汽车网</a>
                    <a href="http://cbbs.chinadaily.com.cn/" target="_blank">天下社区</a>
                    <a href="http://www.huanqiu.com/" target="_blank">环球网</a>
                    <a href="http://www.pimei.com/" target="_blank">媲美网</a>
                    <a href="http://www.51pinwei.com/" target="_blank">51品味</a>
                    <a href="http://www.lolitabox.com/" target="_blank">萝莉盒</a>
                    <a href="http://www.hitao.com/" target="_blank">嗨淘化妆品</a>
                    <a href="http://www.esquire.com.cn/" target="_blank">时尚先生网</a>
                    <a href="http://www.mcchina.com" target="_blank">嘉人网</a>
                    <a href="http://www.ellechina.com" target="_blank">ELLE</a>
                    <a href="http://www.m598.com" target="_blank">女性网址大全</a>
                    <a href="http://www.rayli.com.cn/zhuanti/luxury/2015sspr/" target="_blank">2015春夏巴黎时装周</a>
                    <a href="http://www.vdolady.com/" target="_blank">维度女性网</a>
                    <a href="http://www.shangti.cn" target="_blank">尚体网</a>
                    <a href="http://www.rayli.com.cn/mini/2014/panting/ganku/toufaganku.html"
                       target="_blank">头发干枯毛躁怎么办</a>
                    <a href="http://www.aguo.com/" target="_blank">安卓下载</a>
                    <a href="http://www.asp1.com.cn/" target="_blank">AS1</a>
                </dl>
            </div>
        </div>
    </div>
    <div class="footer_clear"></div>
    <div class="footer_content">
        <div class="wfooter_common">
            <div class="footer_banquan">
                <div class="banquan_bwtween common_left">
                    <div class="nav">
                        <a href="javascript:void(0);" target="_blank" title="">广告服务</a>|
                        <a href="javascript:void(0);" target="_blank" title="">联系我们</a>|
                        <a href="javascript:void(0);" target="_blank" title="">法律声明</a>|
                        <a href="javascript:void(0);" target="_blank" title="">隐私声明</a>|
                        <a href="javascript:void(0);" target="_blank" title="">战网招聘</a>|
                        <a href="javascript:void(0);" target="_blank" title="">关于战网</a>|
                        <a href="javascript:void(0);" target="_blank" title="">网站地图</a></div>
                    <div class="footer_icp01" style="font-family: 宋体; width:100%;">
                        <p>
                            <a href="javascript:void(0);" target="_blank"><u>京ICP证XXXXXX号</u></a>
                            <a href="javascript:void(0);" target="_blank"><u>电信业务审批[2001]字第651号</u></a>
                            <br>
                            <a href="javascript:void(0);" target="_blank"><u>广播电视节目制作许可证(京)字第1135号</u></a>
                            <a target="_blank" href="javascript:void(0);"><u>信息网络传播视听节目许可证0110471</u></a>
                            <br>
                            <a href="javascript:void(0);" target="_blank"><u>互联网出版许可证 新出网证（京）字 XXX号</u></a></p>
                        <p>
                            <a target="_blank" href="javascript:void(0);"
                               style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                                <img src="../images/beian.png" style="float:left;">
                            </a>
                            <a target="_blank" href="javascript:void(0);"
                               style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">京公网安备
                                11010602006865号</a>
                            <br>?2019-2020 XXXXXX All Right Reserved 版权所有 不得转载</p></div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(function () {
        var footerHeight = $(".footer").innerHeight();
        var footerOffset = $(".footer").offset().top;
        var allHeight = $(window).height();
        if (Math.ceil(allHeight - footerHeight) > footerOffset) {
            $(".footer").addClass("active");
        }
        $(window).resize(function () {
            if ($(window).height() < allHeight) {
                $(".footer").css("display", "none");
            } else {
                $(".footer").css("display", "block");
            }
        });
    })
</script>
